* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

.secondary-text {
  font-size: 18px;
  color: #e5e7eb
}

.wrapper .header {
  background-color: #1F2937;
  color: white;
}

.wrapper .header .navigation {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wrapper .header .navigation ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.wrapper .header .navigation ul li a {
  font-size: 18px;
  text-decoration: none;
  color: white;
}

#header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.wrapper .header .banner {
  height: 500px;
  padding: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.wrapper .banner .about-head {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.wrapper .banner #hero-main-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

#image-placeholder {
  width: 500px;
  height: 250px;
}

#hero-main-button {
  background-color: #3882f6;
  font-weight: 600;
  font-size: 18px;
  color: white;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
}

.wrapper .content #random-header {
  text-align: center;
  padding: 10px;
  margin: 20px 0;
}

.wrapper .content .random-info {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.wrapper .content .random-info .box-container {
  width: 200px;
}

.wrapper .content .random-info .box-container .box {
  border: 5px solid #3882f6;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  margin-bottom: 5px;
}

.wrapper .content .random-info .box-container p {
  text-align: center;
}